.card-content{
    padding: 35px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-card {
      position: relative;
      overflow: hidden;
      width: 300px;
      height: 420px;
      border: 1px solid #aaa;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 15px;
      border: 1px solid #bbb;
      background-color: #fff;
      border-radius: 5px 5px 5px 5px;
      line-height: 20px;
      // justify-self: center;
      &:hover {
          border-radius: 5px 5px 0px 0px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          // box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
          // box-shadow: 0 0 20px 7px rgba(211, 211, 211, .75);
        .card-view {
          opacity: 1;
          bottom:  0;
          pointer-events: all;
        //   -webkit-transform: translateY(-10%);
        //   -ms-transform: translateY(-10%);
        //   transform: translateY(-10%);
        }
      } 
  
.like-btn{
  position: absolute;
  top: 7px;
  right: 7px;
  border-radius: 50%;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  // box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px 7px;
  border: 1px solid #bbb;
  cursor: pointer;
//   .like-btn_icon{
// // display: flex;
// // align-self: center;
// // cursor: pointer;
//   }

}

   img {
      width: 160px;
      height: auto;
      // height: 160px;
      border-radius: 10px;
      // object-fit: cover;
    }
  
    .card-view{
      position: absolute;
      // top: 0;
      // left: -100%;
      // height: 100%;
      // top: 100%;
      bottom: -100%;
      // border: -50%;
      // width: 100%;
      width: 250px;
      height: 20%;
      z-index: 1;
      // background-color: rgba(255, 255, 255, .5);
      // background-color: #fff;
      // border: 1px solid #aaa;
      border-top: none;
      border-radius: 0px 0px 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
    //   transition: .10s ease-in-out;
      pointer-events: none;

  //     -webkit-transform: translateY(100%);
  // -ms-transform: translateY(100%);
  // transform: translateY(100%);
      -webkit-transition: 0.1s all;
  transition: 0.1s all;
  z-index: 2;
      
      .card-btn{
        width: 210px;
        background-color: #D10024;
        border: none;
        // display: flex;
        // justify-content: space-evenly;
        font-size: 18px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
        .card-btn_icon{
          display: flex;
          align-self: center;
          
        }
        // .card-btn_checkout{
        //   display: flex;
        //   align-self: center;
        // }
        .card-btn_text{
          display: flex;
          align-self: center;
          margin-left: 10px;
          margin-bottom: 2px;

        }
      }
  }
  .card-title {
    margin: 8px 0;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    
  }
  
  .card-price {
    color: #666;
    font-weight: bold;
    display: flex;
    justify-self: start;
    font-size: 17px;

  }
  .card-discount-price{
    color: #D10024;
    font-weight: bold;
  }
  
  .card-discount-percentage{
    color: #666;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    // border: 1px solid #D10024;
    .discount-active{
      border: 2px solid #D10024;
       padding: 0 10px;
    }
  }
    }
  }