// .accessories,.all-products,.cameras,.computers,.games,.phones{
//     margin-top: 60px;
//     .card-content{
//       // padding: 35px 60px;
//       // display: flex;
//       // justify-content: space-between;
//       // flex-wrap: wrap;
//       .product-card {
//         position: relative;
//         overflow: hidden;
//         width: 300px;
//         height: 420px;
//         border: 1px solid #aaa;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         margin: 15px;
//         border: 1px solid #bbb;
//         background-color: #fff;
//         border-radius: 5px 5px 5px 5px;
//         line-height: 20px;
//         // justify-self: center;
//         &:hover {
//             border-radius: 5px 5px 0px 0px;
//             box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
//             // box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
//             // box-shadow: 0 0 20px 7px rgba(211, 211, 211, .75);
//           .card-view {
//             opacity: 1;
//             bottom:  0;
//             pointer-events: all;
//           //   -webkit-transform: translateY(-10%);
//           //   -ms-transform: translateY(-10%);
//           //   transform: translateY(-10%);
//           }
//         } 
    
//   .like-btn{
//     position: absolute;
//     top: 7px;
//     right: 7px;
//     // border-radius: 50%;
//     // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
//     // box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
//     // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//     padding: 5px 7px;
//     // border: 1px solid #bbb;
//     cursor: pointer;
//   //   .like-btn_icon{
//   // // display: flex;
//   // // align-self: center;
//   // // cursor: pointer;
//   //   }
  
//   }
  
//      img {
//         width: 160px;
//         height: auto;
//         // height: 160px;
//         border-radius: 10px;
//         // object-fit: cover;
//       }
    
//       .card-view{
//         position: absolute;
//         // top: 0;
//         // left: -100%;
//         // height: 100%;
//         // top: 100%;
//         bottom: -100%;
//         // border: -50%;
//         // width: 100%;
//         width: 250px;
//         height: 20%;
//         z-index: 1;
//         // background-color: rgba(255, 255, 255, .5);
//         // background-color: #fff;
//         // border: 1px solid #aaa;
//         border-top: none;
//         border-radius: 0px 0px 5px 5px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         opacity: 0;
//       //   transition: .10s ease-in-out;
//         pointer-events: none;
  
//     //     -webkit-transform: translateY(100%);
//     // -ms-transform: translateY(100%);
//     // transform: translateY(100%);
//         -webkit-transition: 0.1s all;
//     transition: 0.1s all;
//     z-index: 2;
        
//         .card-btn{
//           width: 210px;
//           background-color: #D10024;
//           border: none;
//           // display: flex;
//           // justify-content: space-evenly;
//           font-size: 18px;
//           -webkit-transition: 0.2s all;
//           transition: 0.2s all;
//           box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          
//           .card-btn_icon{
//             display: flex;
//             align-self: center;
            
//           }
//           // .card-btn_checkout{
//           //   display: flex;
//           //   align-self: center;
//           // }
//           .card-btn_text{
//             display: flex;
//             align-self: center;
//             margin-left: 10px;
//             margin-bottom: 2px;
  
//           }
//         }
//     }
//     .card-title {
//       margin: 8px 0;
//       font-size: 14px;
//       padding: 5px;
//       text-align: center;
      
//     }
    
//     .card-price {
//       color: #666;
//       font-weight: bold;
//       display: flex;
//       justify-self: start;
//       font-size: 17px;
  
//     }
//     .card-discount-price{
//       color: #D10024;
//       font-weight: bold;
//     }
    
//     .card-discount-percentage{
//       color: #666;
//       font-weight: bold;
//       position: absolute;
//       top: 0;
//       left: 0;
//       padding: 5px;
//       // border: 1px solid #D10024;
//       .discount-active{
//         border: 2px solid #D10024;
//          padding: 0 10px;
//       }
//     }
    
//     // .rating {
//     //   background-color: #f5f5f5;
//     //   border-radius: 4px;
//     //   padding: 4px 8px;
//     //   margin-top: 8px;
//     //   font-weight: bold;
//     //   color: #333;
//     // }
//       }
//     }
//   }



  .all-card_content{
    padding: 35px 10px;
    .swiper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      // z-index: 1000;
    }
    .swiper-wrapper {
      z-index: 1000;
     
  }
  .swiper-slide {
    position: relative;
    height: 420px;
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 30px;
    line-height: 20px;
  
    
          .swiper-slide_card {
          overflow: hidden;
          display: flex ;
          justify-content: center ;
          align-items: center ;
          flex-direction: column;
          background-color: #fff;
          cursor: pointer;
          .like-btn{
            position: absolute;
            top: 7px;
            right: 7px;
            border-radius: 50%;
            // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            // box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 5px 7px;
            border: 1px solid #bbb;
            cursor: pointer;
          //   .like-btn_icon{
          // // display: flex;
          // // align-self: center;
          // // cursor: pointer;
          //   }
          
          }
          img {
            display: block;
            width: 50%;
            height: auto;
            border-radius: 15px;
            object-fit: cover;
          }
          .card-view{
            position: absolute;
            bottom: 100px;
            transform: translateY(70%);
            width: 100%;
            padding: 0 0 20px 0;
            border-top: none;
            border-radius: 0px 0px 5px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            pointer-events: none;
            -webkit-transition: 0.1s all;
            transition: 0.1s all;
            background-color: #fff;
      
            .card-btn {
              display: flex;
              padding: 10px 35px;
              background-color: #D10024;
              font-size: 18px;
              font-weight: bold;
              -webkit-transition: 0.2s all;
              transition: 0.2s all;
              border-radius: 10px;
          
      
            .card-btn_basket{
              display: flex;
              align-self: center;
              
            }
            .card-btn_text{
              display: flex;
              align-self: center;
              margin-left: 10px;
              margin-bottom: 2px;
              color: #fff;
            }
          }
        }
        .card-title {
          margin: 8px 0;
          font-size: 15px;
          padding: 5px;
          text-align: center;
        }
        
        .card-price {
          color: #666;
          font-weight: bold;
          display: flex;
          justify-self: start;
        }
        .small-box{
          position: absolute;
          left: 7px;
          top: 7px;
          border: 2px solid #D10024;
          background-color: #D10024;
          color: #fff;
          padding: 0px 10px;
        }  
        }
  
        &:hover {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .card-view {
              opacity: 1;
              bottom: 0;
              pointer-events: all;
            }
          } 
   
  } 
      .all-card{
        color: #D10024;
        display: flex;
        justify-self: self-end;
      }
    }
    
    @media only screen and (min-width: 560px) and (max-width: 639px){
      .swiper-slide{
        height: 430px !important;
        line-height: 5px !important;
        
        .card-view{
          position: absolute;
          bottom: 100px;
          transform: none !important;
          width: 100%;
          padding: 0 0 20px 0;
          border-top: none;
          border-radius: 0px 0px 5px 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          opacity: 0;
          pointer-events: none !important;
          -webkit-transition: none !important;
          transition: none !important;
          background-color: #fff;
           .card-btn {
          display: flex;
          padding: 5px 21px !important;
          background-color: #D10024;
          font-size: 70% !important;
          font-weight: bold;
          -webkit-transition: none !important;
          transition: none !important;
          border-radius: 8px !important;
    
        .card-btn_basket{
          display: flex;
          align-self: center;
          
        }
        .card-btn_text{
          display: flex;
          align-self: center;
          margin-left: 10px;
          margin-bottom: 2px;
        }
    
      }
        }
    
       
      .card-title {
        margin: 8px 0;
        font-size: 12px !important;
        padding: 5px;
        text-align: center;
        line-height: 13px !important;
      }
      
      .card-price-deleted{
        font-size: 11px !important;
        font-weight: bold;
        
      }
    
      .card-price {
        color: #666;
        font-weight: bold;
        display: flex;
        justify-self: start;
        font-size: 13px !important;
      }
    
      .small-box{
        position: absolute;
        left: 7px;
        top: 7px;
        border: 2px solid #D10024;
        background-color: #D10024;
        color: #fff;
        padding: 0px 10px;
                      }
        
      }
    }
    
    
    @media only screen and (min-width: 320px) and (max-width: 559px){
      .swiper-slide{
        // width: 300px !important;
        height: 300px !important;
        line-height: 5px !important;
        .card-btn {
          // width: 210px;
          display: flex;
          padding: 5px 21px !important;
          background-color: #D10024;
          font-size: 70% !important;
          font-weight: bold;
          -webkit-transition: 0.2s all;
          transition: 0.2s all;
          border-radius: 8px !important;
    
        .card-btn_basket{
          display: flex;
          align-self: center;
          
        }
        .card-btn_text{
          display: flex;
          align-self: center;
          margin-left: 10px;
          margin-bottom: 2px;
        }
    
      }
      .card-title {
        margin: 8px 0;
        font-size: 12px !important;
        padding: 5px;
        text-align: center;
        line-height: 13px !important;
      }
  
    
      .card-price {
        color: #666;
        font-weight: bold;
        display: flex;
        justify-self: start;
        font-size: 13px !important;
      }
      .small-box{
        position: absolute;
        left: 7px;
        top: 7px;
        border: 2px solid #D10024;
        background-color: #D10024;
        color: #fff;
        padding: 0px 10px;
      }  
      
        
      }
    }
    
    @media only screen and (min-width: 560px) and (max-width: 639px){
      .swiper-slide{
        // width: 300px !important;
        height: 430px !important;
        line-height: 5px !important;
        .card-btn {
          // width: 210px;
          display: flex;
          padding: 5px 21px !important;
          background-color: #D10024;
          font-size: 70% !important;
          font-weight: bold;
          -webkit-transition: 0.2s all;
          transition: 0.2s all;
          border-radius: 8px !important;
    
        .card-btn_basket{
          display: flex;
          align-self: center;
          
        }
        .card-btn_text{
          display: flex;
          align-self: center;
          margin-left: 10px;
          margin-bottom: 2px;
        }
    
      }
      .card-title {
        margin: 8px 0;
        font-size: 12px !important;
        padding: 5px;
        text-align: center;
        line-height: 13px !important;
      }
      
      
    
      .card-price {
        color: #666;
        font-weight: bold;
        display: flex;
        justify-self: start;
        font-size: 13px !important;
      }
      .small-box{
        position: absolute;
        left: 7px;
        top: 7px;
        border: 2px solid #D10024;
        background-color: #D10024;
        color: #fff;
        padding: 0px 10px;
      }  
        
      }
    }
    
    
    @media only screen and (min-width: 640px) and (max-width: 767px){
    
    }
    
    
    @media only screen and (min-width: 768px) and (max-width: 1023px){
      .swiper-slide{
        // width: 300px !important;
        height: 430px !important;
        line-height: 5px !important;
        .card-btn {
          // width: 210px;
          display: flex;
          padding: 5px 21px !important;
          background-color: #D10024;
          font-size: 70% !important;
          font-weight: bold;
          -webkit-transition: 0.2s all;
          transition: 0.2s all;
          border-radius: 8px !important;
    
        .card-btn_basket{
          display: flex;
          align-self: center;
          
        }
        .card-btn_text{
          display: flex;
          align-self: center;
          margin-left: 10px;
          margin-bottom: 2px;
        }
    
      }
      .card-title {
        margin: 8px 0;
        font-size: 12px !important;
        padding: 5px;
        text-align: center;
        line-height: 13px !important;
      }
   
      .card-price {
        color: #666;
        font-weight: bold;
        display: flex;
        justify-self: start;
        font-size: 13px !important;
      }
      .small-box{
        position: absolute;
        left: 7px;
        top: 7px;
        border: 2px solid #D10024;
        background-color: #D10024;
        color: #fff;
        padding: 0px 10px;
      }  
        
      }
    }
    
    @media only screen and (min-width: 1024px) and (max-width: 1199px){
      .swiper-slide{
        // width: 133px !important;
        height: 430px !important;
    
        .card-btn {
          // width: 210px;
          display: flex;
          padding: 5px 15px !important;
          background-color: #D10024;
          font-size: 70% !important;
          font-weight: bold;
          -webkit-transition: 0.2s all;
          transition: 0.2s all;
          border-radius: 8px !important;
    
        .card-btn_basket{
          display: flex;
          align-self: center;
          
        }
        .card-btn_text{
          display: flex;
          align-self: center;
          margin-left: 10px;
          margin-bottom: 2px;
        }
    
      }
      .card-title {
        margin: 8px 0;
        font-size: 10px !important;
        padding: 5px;
        text-align: center;
        line-height: 13px !important;
      }
      
    
    
      .card-price {
        color: #666;
        font-weight: bold;
        display: flex;
        justify-self: start;
        font-size: 12px !important;
      }
    
      .small-box{
        position: absolute;
        left: 7px;
        top: 7px;
        border: 2px solid #D10024;
        background-color: #D10024;
        color: #fff;
        padding: 0px 10px;
      }  
      }
    }
    
    @media only screen and (min-width: 1200px) and (max-width: 1399px){
      .swiper-slide{
        // width: 300px !important;
        height: 320px !important;
    
    
        img {
          display: block;
          width: 70% !important;
          height: auto;
          // width: 150px;
          // height: 150px;
          border-radius: 15px;
          object-fit: cover;
        }
        .card-btn {
          // width: 210px;
          display: flex;
          padding: 5px 21px !important;
          background-color: #D10024;
          font-size: 70% !important;
          font-weight: bold;
          -webkit-transition: 0.2s all;
          transition: 0.2s all;
          border-radius: 8px !important;
    
        .card-btn_basket{
          display: flex;
          align-self: center;
          
        }
        .card-btn_text{
          display: flex;
          align-self: center;
          margin-left: 10px;
          margin-bottom: 2px;
        }
    
      }
      .card-title {
        margin: 8px 0;
        font-size: 12px !important;
        padding: 5px;
        text-align: center;
        line-height: 13px !important;
      }
      
      .card-discount-price{
        font-size: 11px !important;
        font-weight: bold;
        
      }
    
      .card-price {
        color: #666;
        font-weight: bold;
        display: flex;
        justify-self: start;
        font-size: 13px !important;
      }
    
      .small-box{
        position: absolute;
        left: 7px;
        top: 7px;
        border: 2px solid #D10024;
        background-color: #D10024;
        color: #fff;
        padding: 0px 10px;
      }  
      }
    }
    
    @media only screen and (min-width: 1400px) and (max-width: 1699px){
      .swiper-slide{
        // width: 300px !important;
        height: 370px !important;
      }
    }