.brands{
    // widows: 100%;
    width: 100%;
    margin-top: 5rem;
    // margin: 25rem auto;
    .brands-item{
    display: flex;
    flex-wrap: wrap;
    /* margin: 48px 58px; */
    justify-content: center;
    align-items: center;
    // width: 100%;
    // width: 80rem;
    // height: 14rem;
    margin: 5rem auto;
    // margin-top: 5rem;
    .brands-border{
    display: flex;
    align-items: center;
    justify-content: center;
    // display: block;
    overflow: hidden;
    width: 12rem;
    height: 8rem;
    background: none;
    opacity: 1;
    border: 0px auto;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #eee;
    img{
        margin: 0 auto;
    }
}
}
}


