.brands {
  padding: 15px 10px;
  background-color: #fff;
}
.brands .swiper {
  width: 100%;
  height: 100%;
}
.brands .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px !important;
  height: 90px !important;
}
.brands .swiper-slide .brand-box {
  width: 90% !important;
}
.brands .swiper-slide .brand-box .brand-link {
  display: flex;
  justify-content: center;
}
.brands .swiper-slide .brand-box .brand-link .brand-image {
  display: block;
  width: 70% !important;
  height: 70% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 320px) and (max-width: 559px) {
  .brands {
    margin-top: -100px !important;
    padding: 15px 10px;
    background-color: #fff;
  }
  .brands .swiper {
    width: 100%;
    height: 100%;
  }
  .brands .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 50px !important;
  }
  .brands .swiper-slide .brand-box {
    width: 100% !important;
  }
  .brands .swiper-slide .brand-box .brand-link {
    display: flex;
    justify-content: center;
  }
  .brands .swiper-slide .brand-box .brand-link .brand-image {
    display: block;
    width: 70% !important;
    height: 70% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 560px) and (max-width: 639px) {
  .brands {
    margin-top: -100px !important;
    padding: 15px 10px;
    background-color: #fff;
  }
  .brands .swiper {
    width: 100%;
    height: 100%;
  }
  .brands .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 70px !important;
  }
  .brands .swiper-slide .brand-box {
    width: 100% !important;
  }
  .brands .swiper-slide .brand-box .brand-link {
    display: flex;
    justify-content: center;
  }
  .brands .swiper-slide .brand-box .brand-link .brand-image {
    display: block;
    width: 70% !important;
    height: 70% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .brands {
    margin-top: -100px !important;
    padding: 15px 10px;
    background-color: #fff;
  }
  .brands .swiper {
    width: 100%;
    height: 100%;
  }
  .brands .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 70px !important;
  }
  .brands .swiper-slide .brand-box {
    width: 100% !important;
  }
  .brands .swiper-slide .brand-box .brand-link {
    display: flex;
    justify-content: center;
  }
  .brands .swiper-slide .brand-box .brand-link .brand-image {
    display: block;
    width: 70% !important;
    height: 70% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .brands {
    margin-top: -20px !important;
    padding: 15px 10px;
    background-color: #fff;
  }
  .brands .swiper {
    width: 100%;
    height: 100%;
  }
  .brands .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 50px !important;
  }
  .brands .swiper-slide .brand-box {
    width: 100% !important;
  }
  .brands .swiper-slide .brand-box .brand-link {
    display: flex;
    justify-content: center;
  }
  .brands .swiper-slide .brand-box .brand-link .brand-image {
    display: block;
    width: 70% !important;
    height: 70% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1123px) {
  .brands {
    padding: 15px 10px;
    background-color: #fff;
  }
  .brands .swiper {
    width: 100%;
    height: 100%;
  }
  .brands .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 60px !important;
  }
  .brands .swiper-slide .brand-box {
    width: 100% !important;
  }
  .brands .swiper-slide .brand-box .brand-link {
    display: flex;
    justify-content: center;
  }
  .brands .swiper-slide .brand-box .brand-link .brand-image {
    display: block;
    width: 70% !important;
    height: 70% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 1124px) and (max-width: 1199px) {
  .brands {
    padding: 15px 10px;
    background-color: #fff;
  }
  .brands .swiper {
    width: 100%;
    height: 100%;
  }
  .brands .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 70px !important;
  }
  .brands .swiper-slide .brand-box {
    width: 100% !important;
  }
  .brands .swiper-slide .brand-box .brand-link {
    display: flex;
    justify-content: center;
  }
  .brands .swiper-slide .brand-box .brand-link .brand-image {
    display: block;
    width: 70% !important;
    height: 70% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .brands {
    padding: 15px 10px;
    background-color: #fff;
  }
  .brands .swiper {
    width: 100%;
    height: 100%;
  }
  .brands .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 60px !important;
  }
  .brands .swiper-slide .brand-box {
    width: 100% !important;
  }
  .brands .swiper-slide .brand-box .brand-link {
    display: flex;
    justify-content: center;
  }
  .brands .swiper-slide .brand-box .brand-link .brand-image {
    display: block;
    width: 70% !important;
    height: 70% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699px) {
  .brands {
    margin-top: 50px;
    padding: 15px 10px;
    background-color: #fff;
  }
  .brands .swiper {
    width: 100%;
    height: 100%;
  }
  .brands .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 70px !important;
  }
  .brands .swiper-slide .brand-box {
    width: 100% !important;
  }
  .brands .swiper-slide .brand-box .brand-link {
    display: flex;
    justify-content: center;
  }
  .brands .swiper-slide .brand-box .brand-link .brand-image {
    display: block;
    width: 70% !important;
    height: 70% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=brands.css.map */