.carousel-item{
  border-radius: 10px;
  width: 700px;
  margin: 10px auto;
  // min-height: 350px;
  // width: 800px;
  // .carousel-content{
  //   border-radius: 14px;
  //   width: 60%;
  //   height: auto;
  //   margin: 10px auto;
    // color: #fff;
    // line-height: 160px;
    // text-align: center;
    
    
    .swiper {
      width: 100%;
      height: auto;
      // border-radius: 14px;
      // margin: 10px auto;
      background-color: transparent;
      overflow: hidden;
      // border: none;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      // border-radius: 14px;
      width: 100% !important;
      height: auto;
      // overflow: hidden;
      // border: none;
      img {
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
      }
    }
   
  // }
}



