@media (max-width: 575px) {
  .detail {
    display: flex;
    flex-direction: column;
    background-color: e5e7eb;
  }
  .detail .detail-card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail .detail_top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
  }
  .detail .detail_top-left .detail_title {
    font-size: 17px;
    font-weight: bold;
  }
  .detail .detail_top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .detail .detail_top-right .detail_rating {
    display: flex;
    align-items: center;
  }
  .detail .detail_top-right .detail_rating .rating-icon {
    display: flex;
    margin-right: 5px;
  }
  .detail .detail_top-right .detail_rating .rating-icon svg {
    width: 20px;
    height: 20px;
    fill: #FFD700;
  }
  .detail .detail_top-right .detail_rating .rating-number {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_top-right .like-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .detail .detail_top-right .like-btn svg {
    width: 24px;
    height: 24px;
  }
  .detail .detail_bottom {
    display: flex;
    flex-direction: column;
    height: 550px;
  }
  .detail .detail_bottom .detail_image {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
  }
  .detail .detail_bottom .detail_image .main-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_image .main-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .detail .detail_bottom .detail_image .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: border 0.3s ease;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail.active {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail:hover {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_view {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    margin-top: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_top {
    margin-bottom: 20px;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-1 {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-2 {
    font-size: 14px;
    color: #999;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-percentage .detail-discount-active {
    color: #D10024;
    font-weight: bold;
    font-size: 18px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price del {
    color: #999;
    font-size: 18px;
    margin-right: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-price {
    font-size: 24px;
    color: #D10024;
    font-weight: bold;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description {
    margin: 20px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description p {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul {
    list-style: none;
    padding: 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_icon {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .detail {
    display: flex;
    flex-direction: column;
    background-color: e5e7eb;
  }
  .detail .detail-card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail .detail_top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  .detail .detail_top-left .detail_title {
    font-size: 20px;
    font-weight: bold;
  }
  .detail .detail_top-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .detail .detail_top-right .detail_rating {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  .detail .detail_top-right .detail_rating .rating-icon {
    display: flex;
    margin-right: 5px;
  }
  .detail .detail_top-right .detail_rating .rating-icon svg {
    width: 16px;
    height: 16px;
    fill: #FFD700;
  }
  .detail .detail_top-right .detail_rating .rating-number {
    font-size: 12px;
    color: #666;
  }
  .detail .detail_top-right .like-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .detail .detail_top-right .like-btn svg {
    width: 22px;
    height: 22px;
  }
  .detail .detail_bottom {
    display: flex;
    flex-direction: column;
    height: 550px;
  }
  .detail .detail_bottom .detail_image {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
  }
  .detail .detail_bottom .detail_image .main-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_image .main-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .detail .detail_bottom .detail_image .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: border 0.3s ease;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail.active {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail:hover {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_view {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    margin-top: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_top {
    margin-bottom: 20px;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-1 {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-2 {
    font-size: 14px;
    color: #999;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-percentage .detail-discount-active {
    color: #D10024;
    font-weight: bold;
    font-size: 18px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price del {
    color: #999;
    font-size: 18px;
    margin-right: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-price {
    font-size: 24px;
    color: #D10024;
    font-weight: bold;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description {
    margin: 20px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description p {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul {
    list-style: none;
    padding: 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_icon {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .detail {
    display: flex;
    flex-direction: column;
    background-color: e5e7eb;
  }
  .detail .detail-card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail .detail_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  .detail .detail_top-left .detail_title {
    font-size: 20px;
    font-weight: bold;
  }
  .detail .detail_top-right {
    display: flex;
  }
  .detail .detail_top-right .detail_rating {
    display: flex;
    align-items: center;
  }
  .detail .detail_top-right .detail_rating .rating-icon {
    display: flex;
    margin-right: 5px;
  }
  .detail .detail_top-right .detail_rating .rating-icon svg {
    width: 18px;
    height: 18px;
    fill: #FFD700;
  }
  .detail .detail_top-right .detail_rating .rating-number {
    font-size: 14px;
    color: #666;
  }
  .detail .detail_top-right .like-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .detail .detail_top-right .like-btn svg {
    width: 22px;
    height: 22px;
  }
  .detail .detail_bottom {
    display: flex;
    flex-direction: column;
    height: 550px;
  }
  .detail .detail_bottom .detail_image {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
  }
  .detail .detail_bottom .detail_image .main-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_image .main-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .detail .detail_bottom .detail_image .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: border 0.3s ease;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail.active {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail:hover {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_view {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    margin-top: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_top {
    margin-bottom: 20px;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-1 {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-2 {
    font-size: 14px;
    color: #999;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-percentage .detail-discount-active {
    color: #D10024;
    font-weight: bold;
    font-size: 18px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price del {
    color: #999;
    font-size: 18px;
    margin-right: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-price {
    font-size: 24px;
    color: #D10024;
    font-weight: bold;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description {
    margin: 20px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description p {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul {
    list-style: none;
    padding: 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_icon {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .detail {
    display: flex;
    flex-direction: column;
    background-color: e5e7eb;
  }
  .detail .detail-card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail .detail_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  .detail .detail_top-left .detail_title {
    font-size: 24px;
    font-weight: bold;
  }
  .detail .detail_top-right {
    display: flex;
  }
  .detail .detail_top-right .detail_rating {
    display: flex;
    align-items: center;
  }
  .detail .detail_top-right .detail_rating .rating-icon {
    display: flex;
    margin-right: 5px;
  }
  .detail .detail_top-right .detail_rating .rating-icon svg {
    width: 20px;
    height: 20px;
    fill: #FFD700;
  }
  .detail .detail_top-right .detail_rating .rating-number {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_top-right .like-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .detail .detail_top-right .like-btn svg {
    width: 24px;
    height: 24px;
  }
  .detail .detail_bottom {
    display: flex;
    flex-direction: row;
    height: 550px;
  }
  .detail .detail_bottom .detail_image {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
  }
  .detail .detail_bottom .detail_image .main-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_image .main-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .detail .detail_bottom .detail_image .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: border 0.3s ease;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail.active {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail:hover {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_view {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    margin-left: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_top {
    margin-bottom: 20px;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-1 {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-2 {
    font-size: 14px;
    color: #999;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-percentage .detail-discount-active {
    color: #D10024;
    font-weight: bold;
    font-size: 18px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price del {
    color: #999;
    font-size: 18px;
    margin-right: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-price {
    font-size: 24px;
    color: #D10024;
    font-weight: bold;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description {
    margin: 20px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description p {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul {
    list-style: none;
    padding: 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_icon {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .detail {
    display: flex;
    flex-direction: column;
    background-color: e5e7eb;
  }
  .detail .detail-card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail .detail_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  .detail .detail_top-left .detail_title {
    font-size: 24px;
    font-weight: bold;
  }
  .detail .detail_top-right {
    display: flex;
  }
  .detail .detail_top-right .detail_rating {
    display: flex;
    align-items: center;
  }
  .detail .detail_top-right .detail_rating .rating-icon {
    display: flex;
    margin-right: 5px;
  }
  .detail .detail_top-right .detail_rating .rating-icon svg {
    width: 20px;
    height: 20px;
    fill: #FFD700;
  }
  .detail .detail_top-right .detail_rating .rating-number {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_top-right .like-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .detail .detail_top-right .like-btn svg {
    width: 24px;
    height: 24px;
  }
  .detail .detail_bottom {
    display: flex;
    flex-direction: row;
    height: 550px;
  }
  .detail .detail_bottom .detail_image {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
  }
  .detail .detail_bottom .detail_image .main-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_image .main-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .detail .detail_bottom .detail_image .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: border 0.3s ease;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail.active {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail:hover {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_view {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    margin-left: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_top {
    margin-bottom: 20px;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-1 {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-2 {
    font-size: 14px;
    color: #999;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-percentage .detail-discount-active {
    color: #D10024;
    font-weight: bold;
    font-size: 18px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price del {
    color: #999;
    font-size: 18px;
    margin-right: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-price {
    font-size: 24px;
    color: #D10024;
    font-weight: bold;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description {
    margin: 20px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description p {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul {
    list-style: none;
    padding: 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_icon {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699px) {
  .detail {
    display: flex;
    flex-direction: column;
    background-color: e5e7eb;
  }
  .detail .detail-card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail .detail_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  .detail .detail_top-left .detail_title {
    font-size: 24px;
    font-weight: bold;
  }
  .detail .detail_top-right {
    display: flex;
  }
  .detail .detail_top-right .detail_rating {
    display: flex;
    align-items: center;
  }
  .detail .detail_top-right .detail_rating .rating-icon {
    display: flex;
    margin-right: 5px;
  }
  .detail .detail_top-right .detail_rating .rating-icon svg {
    width: 20px;
    height: 20px;
    fill: #FFD700;
  }
  .detail .detail_top-right .detail_rating .rating-number {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_top-right .like-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .detail .detail_top-right .like-btn svg {
    width: 24px;
    height: 24px;
  }
  .detail .detail_bottom {
    display: flex;
    flex-direction: row;
    height: 550px;
  }
  .detail .detail_bottom .detail_image {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
  }
  .detail .detail_bottom .detail_image .main-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_image .main-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .detail .detail_bottom .detail_image .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: border 0.3s ease;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail.active {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail:hover {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_view {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    margin-left: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_top {
    margin-bottom: 20px;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-1 {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-2 {
    font-size: 14px;
    color: #999;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-percentage .detail-discount-active {
    color: #D10024;
    font-weight: bold;
    font-size: 18px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price del {
    color: #999;
    font-size: 18px;
    margin-right: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-price {
    font-size: 24px;
    color: #D10024;
    font-weight: bold;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description {
    margin: 20px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description p {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul {
    list-style: none;
    padding: 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_icon {
    margin-right: 10px;
  }
}
@media (min-width: 1700px) {
  .detail {
    display: flex;
    flex-direction: column;
    background-color: e5e7eb;
  }
  .detail .detail-card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail .detail_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  .detail .detail_top-left .detail_title {
    font-size: 24px;
    font-weight: bold;
  }
  .detail .detail_top-right {
    display: flex;
  }
  .detail .detail_top-right .detail_rating {
    display: flex;
    align-items: center;
  }
  .detail .detail_top-right .detail_rating .rating-icon {
    display: flex;
    margin-right: 5px;
  }
  .detail .detail_top-right .detail_rating .rating-icon svg {
    width: 20px;
    height: 20px;
    fill: #FFD700;
  }
  .detail .detail_top-right .detail_rating .rating-number {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_top-right .like-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .detail .detail_top-right .like-btn svg {
    width: 24px;
    height: 24px;
  }
  .detail .detail_bottom {
    display: flex;
    flex-direction: row;
    height: 550px;
  }
  .detail .detail_bottom .detail_image {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
  }
  .detail .detail_bottom .detail_image .main-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_image .main-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .detail .detail_bottom .detail_image .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: border 0.3s ease;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail.active {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_image .thumbnail-images .thumbnail:hover {
    border: 2px solid #D10024;
  }
  .detail .detail_bottom .detail_view {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    margin-left: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_top {
    margin-bottom: 20px;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-1 {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_top .view-top_text-2 {
    font-size: 14px;
    color: #999;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-percentage .detail-discount-active {
    color: #D10024;
    font-weight: bold;
    font-size: 18px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-price del {
    color: #999;
    font-size: 18px;
    margin-right: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-discount-price {
    font-size: 24px;
    color: #D10024;
    font-weight: bold;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description {
    margin: 20px 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-description p {
    font-size: 16px;
    color: #666;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul {
    list-style: none;
    padding: 0;
  }
  .detail .detail_bottom .detail_view .detail-view_body .detail-specifications ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .detail .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_icon {
    margin-right: 10px;
  }
}/*# sourceMappingURL=detail-card.css.map */