.detail {
  width: 100%;
  height: auto;
}
.detail .detail-card_content {
  height: 100%;
}
.detail .detail-card_content .detail_top {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.detail .detail-card_content .detail_top .detail_title {
  font-size: 18px;
  font-weight: 600;
}
.detail .detail-card_content .detail_top .detail_rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail .detail-card_content .detail_top .detail_rating .rating-icon {
  display: flex;
  gap: 5px;
}
.detail .detail-card_content .detail_top .detail_rating .rating-number {
  font-size: 18px;
}
.detail .detail-card_content .detail_top .like-btn {
  background-color: #fff;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
}
.detail .detail-card_content .detail_bottom {
  display: flex;
  gap: 10px;
  width: 100%;
  height: auto;
}
.detail .detail-card_content .detail_bottom .detail_image {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}
.detail .detail-card_content .detail_bottom .detail_image .swiper {
  width: 100%;
  height: 100%;
}
.detail .detail-card_content .detail_bottom .detail_image .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.detail .detail-card_content .detail_bottom .detail_image .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.detail .detail-card_content .detail_bottom .detail_image .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail .detail-card_content .detail_bottom .detail_image .mySwiper2 {
  height: 80%;
  width: 70%;
}
.detail .detail-card_content .detail_bottom .detail_image .mySwiper2 #top-image {
  display: block;
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10%;
}
.detail .detail-card_content .detail_bottom .detail_image .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.detail .detail-card_content .detail_bottom .detail_image .mySwiper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
  justify-content: center;
}
.detail .detail-card_content .detail_bottom .detail_image .mySwiper .swiper-wrapper .swiper-slide {
  width: 10% !important;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  background-color: #f3f3f3;
}
.detail .detail-card_content .detail_bottom .detail_image .mySwiper .swiper-wrapper .swiper-slide #bottom-image {
  display: block;
  width: 55%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 8px 0;
}
.detail .detail-card_content .detail_bottom .detail_image .mySwiper .swiper-wrapper .swiper-slide-thumb-active {
  opacity: 1;
}
.detail .detail-card_content .detail_bottom .detail_view {
  position: relative;
  padding: 0px 20px;
  width: 40%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_top {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid #eaeaea;
  padding: 30px 0px 26px;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_top .view-top_text-1 {
  color: #D10024;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_top .view-top_text-2 {
  color: #666;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  padding: 30px 0px 26px;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_body .detail-price {
  color: #666;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_body .detail-discount-price {
  color: #D10024;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_body .detail-discount-percentage {
  color: #666;
  font-weight: bold;
  width: 7%;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_body .detail-discount-percentage .detail-discount-active {
  border: 2px solid #D10024;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  font-size: 12px;
  color: #D10024;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_bottom {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_bottom .detail-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 8px;
  padding: 15px 20px;
  cursor: pointer;
  width: 350px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s all;
  position: absolute;
  bottom: 30px;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_icon {
  display: flex;
  align-self: center;
}
.detail .detail-card_content .detail_bottom .detail_view .detail-view_bottom .detail-btn .detail-btn_text {
  display: flex;
  align-self: center;
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 575px) {
  #bottom-image {
    padding: 5px 0 !important;
  }
  .detail-discount-percentage {
    width: 10%;
  }
  .detail_title {
    font-size: 8px !important;
  }
  .detail_bottom {
    display: flex;
    flex-direction: column;
  }
  .detail_bottom .detail_image {
    width: 100% !important;
  }
  .detail_bottom .detail_view {
    width: 100% !important;
  }
  .detail_bottom .detail_view .detail-btn {
    width: 250px !important;
    padding: 10px 0 !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  #bottom-image {
    padding: 5px 0 !important;
  }
  .detail-discount-percentage {
    width: 10%;
  }
  .detail_title {
    font-size: 10px !important;
  }
  .detail_bottom {
    display: flex;
    flex-direction: column;
  }
  .detail_bottom .detail_image {
    width: 100% !important;
  }
  .detail_bottom .detail_view {
    width: 100% !important;
  }
  .detail_bottom .detail_view .detail-btn {
    width: 200px;
    padding: 10px 0 !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #bottom-image {
    padding: 6px 0 !important;
  }
  .detail-discount-price {
    font-size: 15px !important;
  }
  .detail-price {
    font-size: 15px !important;
  }
  .detail-discount-percentage {
    width: 10%;
  }
  .detail-btn {
    bottom: 20px !important;
  }
  .detail_title {
    font-size: 13px !important;
  }
  .detail_bottom {
    display: flex;
    flex-direction: column;
  }
  .detail_bottom .detail_image {
    width: 100% !important;
  }
  .detail_bottom .detail_view {
    width: 100% !important;
  }
  .detail_bottom .detail_view .detail-btn {
    width: 300px;
    padding: 10px 0 !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .detail_top {
    width: 100% !important;
  }
  .detail_top .detail_title {
    font-size: 14px !important;
  }
  #bottom-image {
    padding: 6px 0 !important;
  }
  .detail-discount-percentage {
    width: 11% !important;
  }
  .detail-discount-percentage .detail-discount-active {
    font-size: 10px;
  }
  .detail_bottom {
    display: flex;
    flex-direction: column;
  }
  .detail_bottom .detail_image {
    width: 100% !important;
  }
  .detail_bottom .detail_view {
    width: 100% !important;
  }
  .detail_bottom .detail_view .detail-view_bottom {
    height: 80px !important;
  }
  .detail_bottom .detail_view .detail-view_bottom .detail-btn {
    width: 300px !important;
    padding: 10px 0 !important;
    bottom: 20px !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .mySwiper2 {
    height: 80%;
    width: 70%;
  }
  .mySwiper2 #top-image {
    width: 100%;
    padding: 10%;
  }
  #bottom-image {
    padding: 8px 0 !important;
  }
  .detail-discount-percentage {
    width: 12% !important;
  }
  .detail-discount-percentage .detail-discount-active {
    font-size: 11px;
  }
  .detail_bottom {
    display: flex;
  }
  .detail_bottom .detail_image {
    width: 60% !important;
  }
  .detail_bottom .detail_view {
    width: 40% !important;
  }
  .detail_title {
    font-size: 15px !important;
  }
}/*# sourceMappingURL=detail-card.css.map */