.detail{
  width: 100%;
  height: auto;
 .detail-card_content{
  height: 100%;
.detail_top{
  // width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .detail_title{
    font-size: 18px;
    font-weight: 600;
    // width: 100%;
    // background-color: #fff;
    // border-radius: 5px;
    // padding: 20px 20px;
    // margin-bottom: 10px;
  }
  .detail_rating{
    display: flex;
    align-items: center;
    gap: 10px;
    .rating-icon{
      display: flex;
      gap: 5px;
    }
    .rating-number{
      font-size: 18px;
    }
  }
  .like-btn{
    // position: absolute;
    // top: 7px;
    // right: 7px;
    background-color: #fff;
    border: none;
    // border-radius: 50%;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    // box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 7px;
    // border: 1px solid #bbb;
    cursor: pointer;
  }
}
.detail_bottom{
  display: flex;
  gap: 10px;
  width: 100%;
  height: auto;
  .detail_image{
    position: relative;
    width: 60%;
    height: 100%;
    // height: 100%;
    background-color: #fff;  
    border-radius: 5px;      
    .swiper{            
      width: 100%;            
      height: 100%;         
    }
    .swiper{
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide{   
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;	
      background-position: center;
      img{
        display: block;		
        width: 100%;		
        height: 100%;		
        object-fit: cover;      
      }         
    }           
    .mySwiper2{
      height: 80%;
      width: 70%;   
      #top-image{
        display: block;		
        width: 80%;	
        height: auto;	
        // height: 100%;		
        object-fit: cover; 
        padding: 10%;    
      }     
    }      
    .mySwiper{
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
      // border: 1px solid black;
      display: flex;
      // justify-content: center;
      align-items: center;

      .swiper-wrapper {
        position: relative;
        width: 100%;
        height: auto; 
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
        justify-content: center;
        .swiper-slide {
          width: 10% !important;
          // height: 100%;		
          // opacity: 0.4;  
          border-radius: 10px;
          border: 1px solid #eaeaea;  
          // background-color: aqua;
          background-color: #f3f3f3; 
          // .image-box{     
          //   width: 100%;   
          //   height: 100%;
            #bottom-image{  
              // box-sizing: content-box;   
              display: block;
              width: 55%;      
              height: auto;      
              object-fit: cover; 
              padding: 8px 0;
              
              // border: 1px solid #666;
            }  
          //   &:focus{
          //     outline: none;
          //     border-color: #D10024;
              
          // } 
          }     
          .swiper-slide-thumb-active {	  
            opacity: 1;	         
          }           
        }    
          // }         
    }           
}  
  .detail_view{
  position: relative;
  padding: 0px 20px;
  // // gap: 2px;
  width: 40%;
  height: auto;
  // height: 100%;
  background-color: #fff;  
  border-radius: 5px; 

  .detail-view_top{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid #eaeaea;
    padding: 30px 0px 26px;
    .view-top_text-1{
      color: #D10024;
    }
    .view-top_text-2{
      color: #666;
    }

  }
  .detail-view_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding: 30px 0px 26px;
    
    .detail-price {
      color: #666;
      font-weight: bold;
      display: flex;
      justify-content: center;
      // justify-self: start;
      font-size: 25px;
  
    }
    .detail-discount-price{
      color: #D10024;
      font-weight: bold;
      font-size: 25px;
      display: flex;
      justify-content: center;
    }
    
    .detail-discount-percentage{
      color: #666;
      font-weight: bold;
      width: 7%;
      // position: absolute;
      // top: 0;
      // left: 0;
      // padding: 5px;
      // border: 1px solid #D10024;
      .detail-discount-active{
        border: 2px solid #D10024;
        text-align: center;
        width: 100%;
        border-radius: 5px;
        font-size: 12px;
        color: #D10024;
        //  padding: 0 10px;
      }
    }
  }
  .detail-view_bottom{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    // align-items: center;
    .detail-btn{
      display: flex;
      justify-content: center;
      align-self: center;
      border-radius: 8px;
      padding: 15px 20px;
      cursor: pointer;
      width: 350px;
      // background-color: #D10024;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      // display: flex;
      // justify-content: space-evenly;
      // font-size: 18px;
      // padding: 5px 50%;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      position: absolute;
      bottom: 30px;
      .detail-btn_icon{
        display: flex;
        align-self: center;
      }
      // .card-btn_checkout{
      //   display: flex;
      //   align-self: center;
      // }
        .detail-btn_text{
          display: flex;
          align-self: center;
          margin-left: 10px;
          margin-bottom: 2px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    } 
  }
}
}
}


@media (max-width: 575px) {
  #bottom-image{   
    padding: 5px 0 !important;
  } 
  .detail-discount-percentage{
    width: 10% ;
  }
  .detail_title{
    font-size: 8px !important;
  }
  .detail_bottom{
    display: flex;
    flex-direction: column;
    .detail_image{
      width: 100% !important;
    }
    .detail_view{
      width: 100% !important;
      .detail-btn{
        width: 250px !important;
        padding: 10px 0 !important;
      }
    }
  }
 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #bottom-image{   
    padding: 5px 0 !important;
  } 
  .detail-discount-percentage{
    width: 10% ;
  }
  .detail_title{
    font-size: 10px !important;
  }
  .detail_bottom{
        display: flex;
        flex-direction: column;
        .detail_image{
          width: 100% !important;
        }
        .detail_view{
          width: 100% !important;
          .detail-btn{
            width: 200px;
            padding: 10px 0 !important;
          }
        }
      }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #bottom-image{  
    padding: 6px 0 !important;  
  }  
  .detail-discount-price{
    font-size: 15px !important;
  }
  .detail-price{
    font-size: 15px !important;
  }
  .detail-discount-percentage{
    width: 10% ;
  }
  .detail-btn{
    bottom: 20px !important;
  }
  .detail_title{
    font-size: 13px !important;
  }
  .detail_bottom{
    display: flex;
    flex-direction: column;
    .detail_image{
      width: 100% !important;
    }
    .detail_view{
      width: 100% !important;
      .detail-btn{
        width: 300px;
        padding: 10px 0 !important;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .detail_top{
    width: 100% !important;
    .detail_title{
      font-size: 14px !important;
    }
  }
 
  #bottom-image{  
    padding: 6px 0 !important;  
  }  
  .detail-discount-percentage{
    width:11% !important;
    .detail-discount-active{
      font-size: 10px;
    }
  }
  // .detail-btn{
  //   background-color: turquoise !important;
  // }
  .detail_bottom{
    display: flex;
    flex-direction: column;
    .detail_image{
      width: 100% !important;
    }
    .detail_view{
      width: 100% !important;
      .detail-view_bottom{
        height: 80px !important;
        .detail-btn{
          width: 300px !important;
          padding: 10px 0 !important;
          bottom: 20px !important;
        }
      }
      
    }
   
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .mySwiper2{
    height: 80% ;
    width: 70% ;   
    #top-image{	
      width: 100% ;	
      padding: 10% ;    
    }     
  } 
  #bottom-image{  
    // box-sizing: content-box;   
    // display: block;
    // width: 60%;      
    // height: auto;      
    // object-fit: cover; 
    padding: 8px 0 !important;
    
    // border: 1px solid #666;
  } 
  .detail-discount-percentage{
    width: 12% !important;
    .detail-discount-active{
      font-size: 11px;
    }
  }
  
  .detail_bottom{
    display: flex;
    // flex-direction: column;
    .detail_image{
      width: 60% !important;
    }
    .detail_view{
      width: 40% !important;
    }
  }
  .detail_title{
    font-size: 15px !important;
  }
}

// @media (min-width: 1400px) {
//   #bottom-image{  
//     // box-sizing: content-box;   
//     // display: block;
//     // width: 60%;      
//     // height: auto;      
//     // object-fit: cover; 
//     padding: 10px 0 !important;
    
//     // border: 1px solid #666;
//   } 
//   .detail-discount-percentage{
//     width: 15% !important;
//   }
//   .detail_title{
//     font-size: 16px !important;
//   }
//   .detail-btn{
//     width: 350px !important;
//   }
  
// }