.discount-card_content{
  padding: 35px 10px;
  .swiper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    // z-index: 1000;
  }
  .swiper-wrapper {
    // z-index: 1000;
   
}
  .swiper-slide {
    position: relative;
    height: 420px;
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 30px;
    line-height: 20px;

    
          .swiper-slide_card {
          overflow: hidden;
          display: flex ;
          justify-content: center ;
          align-items: center ;
          flex-direction: column;
          background-color: #fff;
          cursor: pointer;
          .like-btn{
            position: absolute;
            top: 7px;
            right: 7px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 5px 7px;
            border: 1px solid #bbb;
            cursor: pointer;      
          }
          img {
            display: block;
            width: 50%;
            height: auto;
            border-radius: 15px;
            object-fit: cover;
          }
          .card-view{
            position: absolute;
            bottom: 100px;
            transform: translateY(70%);
            width: 100%;
            padding: 0 0 20px 0;
            border-top: none;
            border-radius: 0px 0px 5px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            pointer-events: none;
            -webkit-transition: 0.1s all;
            transition: 0.1s all;
            background-color: #fff;
      
            .card-btn {
              display: flex;
              padding: 10px 35px;
              background-color: #D10024;
              font-size: 18px;
              font-weight: bold;
              -webkit-transition: 0.2s all;
              transition: 0.2s all;
              border-radius: 10px;
          
      
            .card-btn_basket{
              display: flex;
              align-self: center;
              
            }
            .card-btn_text{
              display: flex;
              align-self: center;
              margin-left: 10px;
              margin-bottom: 2px;
              color: #fff;
            }
          }
        }
        .card-title {
          margin: 8px 0;
          font-size: 15px;
          padding: 5px;
          text-align: center;
        }
        
        .card-price-deleted{
          font-size: 15px;
          font-weight: bold;
          
        }

        .card-price {
          color: #666;
          font-weight: bold;
          display: flex;
          justify-self: start;
        }
        .card-discount-price{
          color: #D10024;
          font-weight: bold;
        }
        
        .card-discount-percentage{
          color: #666;
          font-weight: bold;
          position: absolute;
          top: 7px;
          left: 7px;
          .discount-active{
            border: 2px solid #D10024;
            padding: 0 10px;
          }
        }
        
        }

        &:hover {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .card-view {
              opacity: 1;
              bottom: 0;
              pointer-events: all;
            }
          } 
   
  }  
    .all-card{
      color: #D10024;
      display: flex;
      justify-self: self-end;
    }
    
}

@media only screen and (min-width: 560px) and (max-width: 639px){
  .swiper-slide{
    height: 430px !important;
    line-height: 5px !important;
    
    .card-view{
      position: absolute;
      bottom: 100px;
      transform: none !important;
      width: 100%;
      padding: 0 0 20px 0;
      border-top: none;
      border-radius: 0px 0px 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      pointer-events: none !important;
      -webkit-transition: none !important;
      transition: none !important;
      background-color: #fff;
       .card-btn {
      display: flex;
      padding: 5px 21px !important;
      background-color: #D10024;
      font-size: 70% !important;
      font-weight: bold;
      -webkit-transition: none !important;
      transition: none !important;
      border-radius: 8px !important;

    .card-btn_basket{
      display: flex;
      align-self: center;
      
    }
    .card-btn_text{
      display: flex;
      align-self: center;
      margin-left: 10px;
      margin-bottom: 2px;
    }

  }
    }

   
  .card-title {
    margin: 8px 0;
    font-size: 12px !important;
    padding: 5px;
    text-align: center;
    line-height: 13px !important;
  }
  
  .card-price-deleted{
    font-size: 11px !important;
    font-weight: bold;
    
  }

  .card-price {
    color: #666;
    font-weight: bold;
    display: flex;
    justify-self: start;
    font-size: 13px !important;
  }
  .card-discount-price{
    color: #D10024;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 15px !important;
  }
  
  .card-discount-percentage{
    color: #666;
    font-weight: bold;
    position: absolute;
    top: 7px;
    left: 7px;
    // border: 1px solid #D10024;
    .discount-active{
      border: 2px solid #D10024;
       padding: 0 10px;
    }
  }
    
  }
}


@media only screen and (min-width: 320px) and (max-width: 559px){
  .swiper-slide{
    // width: 300px !important;
    height: 300px !important;
    line-height: 5px !important;
    .card-btn {
      // width: 210px;
      display: flex;
      padding: 5px 21px !important;
      background-color: #D10024;
      font-size: 70% !important;
      font-weight: bold;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      border-radius: 8px !important;

    .card-btn_basket{
      display: flex;
      align-self: center;
      
    }
    .card-btn_text{
      display: flex;
      align-self: center;
      margin-left: 10px;
      margin-bottom: 2px;
    }

  }
  .card-title {
    margin: 8px 0;
    font-size: 12px !important;
    padding: 5px;
    text-align: center;
    line-height: 13px !important;
  }
  
  .card-price-deleted{
    font-size: 11px !important;
    font-weight: bold;
    
  }

  .card-price {
    color: #666;
    font-weight: bold;
    display: flex;
    justify-self: start;
    font-size: 13px !important;
  }
  .card-discount-price{
    color: #D10024;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 15px !important;
  }
  
  .card-discount-percentage{
    color: #666;
    font-weight: bold;
    position: absolute;
    top: 7px;
    left: 7px;
    // border: 1px solid #D10024;
    .discount-active{
      border: 2px solid #D10024;
       padding: 0 10px;
    }
  }
    
  }
}

@media only screen and (min-width: 560px) and (max-width: 639px){
  .swiper-slide{
    // width: 300px !important;
    height: 430px !important;
    line-height: 5px !important;
    .card-btn {
      // width: 210px;
      display: flex;
      padding: 5px 21px !important;
      background-color: #D10024;
      font-size: 70% !important;
      font-weight: bold;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      border-radius: 8px !important;

    .card-btn_basket{
      display: flex;
      align-self: center;
      
    }
    .card-btn_text{
      display: flex;
      align-self: center;
      margin-left: 10px;
      margin-bottom: 2px;
    }

  }
  .card-title {
    margin: 8px 0;
    font-size: 12px !important;
    padding: 5px;
    text-align: center;
    line-height: 13px !important;
  }
  
  .card-price-deleted{
    font-size: 11px !important;
    font-weight: bold;
    
  }

  .card-price {
    color: #666;
    font-weight: bold;
    display: flex;
    justify-self: start;
    font-size: 13px !important;
  }
  .card-discount-price{
    color: #D10024;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 15px !important;
  }
  
  .card-discount-percentage{
    color: #666;
    font-weight: bold;
    position: absolute;
    top: 7px;
    left: 7px;
    // border: 1px solid #D10024;
    .discount-active{
      border: 2px solid #D10024;
       padding: 0 10px;
    }
  }
    
  }
}


@media only screen and (min-width: 640px) and (max-width: 767px){

}


@media only screen and (min-width: 768px) and (max-width: 1023px){
  .swiper-slide{
    // width: 300px !important;
    height: 430px !important;
    line-height: 5px !important;
    .card-btn {
      // width: 210px;
      display: flex;
      padding: 5px 21px !important;
      background-color: #D10024;
      font-size: 70% !important;
      font-weight: bold;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      border-radius: 8px !important;

    .card-btn_basket{
      display: flex;
      align-self: center;
      
    }
    .card-btn_text{
      display: flex;
      align-self: center;
      margin-left: 10px;
      margin-bottom: 2px;
    }

  }
  .card-title {
    margin: 8px 0;
    font-size: 12px !important;
    padding: 5px;
    text-align: center;
    line-height: 13px !important;
  }
  
  .card-price-deleted{
    font-size: 11px !important;
    font-weight: bold;
    
  }

  .card-price {
    color: #666;
    font-weight: bold;
    display: flex;
    justify-self: start;
    font-size: 13px !important;
  }
  .card-discount-price{
    color: #D10024;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 15px !important;
  }
  
  .card-discount-percentage{
    color: #666;
    font-weight: bold;
    position: absolute;
    top: 7px;
    left: 7px;
    // border: 1px solid #D10024;
    .discount-active{
      border: 2px solid #D10024;
       padding: 0 10px;
    }
  }
    
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
  .swiper-slide{
    // width: 133px !important;
    height: 430px !important;

    .card-btn {
      // width: 210px;
      display: flex;
      padding: 5px 15px !important;
      background-color: #D10024;
      font-size: 70% !important;
      font-weight: bold;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      border-radius: 8px !important;

    .card-btn_basket{
      display: flex;
      align-self: center;
      
    }
    .card-btn_text{
      display: flex;
      align-self: center;
      margin-left: 10px;
      margin-bottom: 2px;
    }

  }
  .card-title {
    margin: 8px 0;
    font-size: 10px !important;
    padding: 5px;
    text-align: center;
    line-height: 13px !important;
  }
  
  .card-price-deleted{
    font-size: 10px !important;
    font-weight: bold;
    
  }

  .card-price {
    color: #666;
    font-weight: bold;
    display: flex;
    justify-self: start;
    font-size: 12px !important;
  }
  .card-discount-price{
    color: #D10024;
    font-weight: bold;
    font-size: 12px !important;
    line-height: 15px !important;
  }
  
  .card-discount-percentage{
    color: #666;
    font-weight: bold;
    position: absolute;
    top: 7px;
    left: 7px;
    // border: 1px solid #D10024;
    .discount-active{
      border: 2px solid #D10024;
       padding: 0 10px;
    }
  }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
  .swiper-slide{
    // width: 300px !important;
    height: 320px !important;

    img {
      display: block;
      width: 70% !important;
      height: auto;
      // width: 150px;
      // height: 150px;
      border-radius: 15px;
      object-fit: cover;
    }
    .card-btn {
      // width: 210px;
      display: flex;
      padding: 5px 21px !important;
      background-color: #D10024;
      font-size: 70% !important;
      font-weight: bold;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      border-radius: 8px !important;

    .card-btn_basket{
      display: flex;
      align-self: center;
      
    }
    .card-btn_text{
      display: flex;
      align-self: center;
      margin-left: 10px;
      margin-bottom: 2px;
    }

  }
  .card-title {
    margin: 8px 0;
    font-size: 12px !important;
    padding: 5px;
    text-align: center;
    line-height: 13px !important;
  }
  
  .card-price-deleted{
    font-size: 11px !important;
    font-weight: bold;
    
  }

  .card-price {
    color: #666;
    font-weight: bold;
    display: flex;
    justify-self: start;
    font-size: 13px !important;
  }
  .card-discount-price{
    color: #D10024;
    font-weight: bold;
    font-size: 11px !important;
    line-height: 15px !important;
  }
  
  .card-discount-percentage{
    color: #fff;
    background-color: #D10024;
    font-weight: bold;
    position: absolute;
    top: 7px;
    left: 7px;
    // border: 1px solid #D10024;
    .discount-active{
      border: 2px solid #D10024;
       padding: 0 10px;
    }
  }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1699px){
  .swiper-slide{
    // width: 300px !important;
    height: 370px !important;

    img {
      display: block;
      width: 70% !important;
      height: auto;
      // width: 150px;
      // height: 150px;
      border-radius: 15px;
      object-fit: cover;
    }
    .card-btn {
      // width: 210px;
      display: flex;
      padding: 5px 21px !important;
      background-color: #D10024;
      font-size: 70% !important;
      font-weight: bold;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      border-radius: 8px !important;

    .card-btn_basket{
      display: flex;
      align-self: center;
      
    }
    .card-btn_text{
      display: flex;
      align-self: center;
      margin-left: 10px;
      margin-bottom: 2px;
    }

  }
  .card-title {
    margin: 8px 0;
    font-size: 12px !important;
    padding: 5px;
    text-align: center;
    line-height: 13px !important;
  }
  
  .card-price-deleted{
    font-size: 11px !important;
    font-weight: bold;
    
  }

  .card-price {
    color: #666;
    font-weight: bold;
    display: flex;
    justify-self: start;
    font-size: 13px !important;
  }
  .card-discount-price{
    color: #D10024;
    font-weight: bold;
    font-size: 11px !important;
    line-height: 15px !important;
  }
  
  .card-discount-percentage{
    color: #fff;
    background-color: #D10024;
    font-weight: bold;
    position: absolute;
    top: 7px;
    left: 7px;
    // border: 1px solid #D10024;
    .discount-active{
      border: 2px solid #D10024;
       padding: 0 10px;
    }
  }
  }
}




