.discount-card_content{
  padding: 35px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex-wrap: wrap;
  // .swiper {
  //     // overflow-x: scroll;
  //     width: 100% !important;
  //     height: 100%;
  //     .swiper-slide{
  //       width: 300px !important;
  //       .swiper-slide_card {
        
  //         // text-align: center;
  //         // font-size: 18px;
          
        
  //         /* Center slide text vertically */
  //         position: relative;
  //         overflow: hidden;
  //         width:  300px !important;
  //         height: 450px !important;
  //         display: flex ;
  //         justify-content: center ;
  //         align-items: center ;
  //         flex-direction: column;
  //         margin: 20px;
  //         // border: 1px solid #bbb;
  //         background-color: #fff;
  //         // margin-bottom: 40px;
  //         border-radius: 5px 5px 5px 5px;
  //         line-height: 20px;
  //         cursor: pointer;

  //         &:hover {
  //           box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  //             .card-view {
  //               opacity: 1;
  //               bottom: 0;
  //               pointer-events: all;
  //             }
  //           } 
  //           img {
  //             width: 180px;
  //             height: 180px;
  //             border-radius: 10px;
  //             // display: block;
  //             // width: 100%;
  //             // height: 100%;
  //             // object-fit: cover;
  //           }
  //           .card-view{
  //             position: absolute;
  //             // top: 0;
  //             // left: -100%;
  //             // height: 100%;
  //             // width: 100%;
  //             // background-color: rgba(255, 255, 255, .5);
  //             bottom: -100%;
  //             width: 250px;
  //             height: 20%;
  //             // z-index: 1;
  //             border-top: none;
  //             border-radius: 0px 0px 5px 5px;
  //             display: flex;
  //             justify-content: center;
  //             align-items: center;
  //             flex-direction: column;
  //             opacity: 0;
  //             // transition: .15s ease-in-out;
  //             pointer-events: none;
  //             -webkit-transition: 0.1s all;
  //             transition: 0.1s all;
  //             z-index: 2;

  //             .card-btn {
  //               width: 210px;
  //               background-color: #D10024;
  //         // display: flex;
  //         // justify-content: space-evenly;
  //             font-size: 18px;
  //             -webkit-transition: 0.2s all;
  //             transition: 0.2s all;
  
  //             .card-btn_basket{
  //               display: flex;
  //               align-self: center;
                
  //             }
  //             .card-btn_text{
  //               display: flex;
  //               align-self: center;
  //               margin-left: 10px;
  //               margin-bottom: 2px;
  //             }
  //           }
  //         }
  //         .card-title {
  //           margin: 8px 0;
  //           font-size: 15px;
  //           padding: 5px;
  //           text-align: center;
  //         }
          
  //         .card-price {
  //           color: #666;
  //           font-weight: bold;
  //           display: flex;
  //           justify-self: start;
  //         }
  //         .card-discount-price{
  //           color: #D10024;
  //           font-weight: bold;
  //         }
          
  //         .card-discount-percentage{
  //           color: #666;
  //           font-weight: bold;
  //           position: absolute;
  //           top: 7px;
  //           left: 7px;
  //           // border: 1px solid #D10024;
  //           .discount-active{
  //             border: 2px solid #D10024;
  //              padding: 0 10px;
  //           }
  //         }
  //       }
  //     }     
  //   }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

          .swiper-slide_card {
        
          // text-align: center;
          // font-size: 18px;
          
        
          /* Center slide text vertically */
          position: relative;
          overflow: hidden;
          width:  300px !important;
          height: 400px !important;
          display: flex ;
          justify-content: center ;
          align-items: center ;
          flex-direction: column;
          // margin: 20px;
          // border: 1px solid #bbb;
          background-color: #fff;
          // margin-bottom: 40px;
          border-radius: 5px 5px 5px 5px;
          line-height: 20px;
          cursor: pointer;

          &:hover {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              .card-view {
                opacity: 1;
                bottom: 0;
                pointer-events: all;
              }
            } 
          img {
            display: block;
            // width: 100%;
            // height: 100%;
            width: 150px;
            height: 150px;
            border-radius: 10px;
            object-fit: cover;
          }
          .card-view{
            position: absolute;
            // top: 0;
            // left: -100%;
            // height: 100%;
            // width: 100%;
            // background-color: rgba(255, 255, 255, .5);
            bottom: -100%;
            width: 250px;
            height: 20%;
            // z-index: 1;
            border-top: none;
            border-radius: 0px 0px 5px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            // transition: .15s ease-in-out;
            pointer-events: none;
            -webkit-transition: 0.1s all;
            transition: 0.1s all;
            z-index: 2;
      
            .card-btn {
              width: 210px;
              background-color: #D10024;
        // display: flex;
        // justify-content: space-evenly;
            font-size: 18px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
      
            .card-btn_basket{
              display: flex;
              align-self: center;
              
            }
            .card-btn_text{
              display: flex;
              align-self: center;
              margin-left: 10px;
              margin-bottom: 2px;
            }
          }
        }
        .card-title {
          margin: 8px 0;
          font-size: 15px;
          padding: 5px;
          text-align: center;
        }
        
        .card-price {
          color: #666;
          font-weight: bold;
          display: flex;
          justify-self: start;
        }
        .card-discount-price{
          color: #D10024;
          font-weight: bold;
        }
        
        .card-discount-percentage{
          color: #666;
          font-weight: bold;
          position: absolute;
          top: 7px;
          left: 7px;
          // border: 1px solid #D10024;
          .discount-active{
            border: 2px solid #D10024;
             padding: 0 10px;
          }
        }
        }

   
  }
  
  
    
    .all-card{
      color: #D10024;
      display: flex;
      justify-self: self-end;
    }
    
}

// @media (max-width: 575px) {
//   .discount-card_content{
//     padding: 35px 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // flex-wrap: wrap;
//     .swiper {
//         // overflow-x: scroll;
//         width: 100% !important;
//         height: 100%;
//         .swiper-slide{
//           width: 300px !important;
//           .swiper-slide_card {
          
//             // text-align: center;
//             // font-size: 18px;
            
          
//             /* Center slide text vertically */
//             position: relative;
//             overflow: hidden;
//             width:  300px !important;
//             height: 450px !important;
//             display: flex ;
//             justify-content: center ;
//             align-items: center ;
//             flex-direction: column;
//             margin: 20px;
//             // border: 1px solid #bbb;
//             background-color: #fff;
//             // margin-bottom: 40px;
//             border-radius: 5px 5px 5px 5px;
//             line-height: 20px;
//             cursor: pointer;
  
//             &:hover {
//               box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//                 .card-view {
//                   opacity: 1;
//                   bottom: 0;
//                   pointer-events: all;
//                 }
//               } 
//               img {
//                 width: 180px;
//                 height: 180px;
//                 border-radius: 10px;
//                 // display: block;
//                 // width: 100%;
//                 // height: 100%;
//                 // object-fit: cover;
//               }
//               .card-view{
//                 position: absolute;
//                 // top: 0;
//                 // left: -100%;
//                 // height: 100%;
//                 // width: 100%;
//                 // background-color: rgba(255, 255, 255, .5);
//                 bottom: -100%;
//                 width: 250px;
//                 height: 20%;
//                 // z-index: 1;
//                 border-top: none;
//                 border-radius: 0px 0px 5px 5px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 opacity: 0;
//                 // transition: .15s ease-in-out;
//                 pointer-events: none;
//                 -webkit-transition: 0.1s all;
//                 transition: 0.1s all;
//                 z-index: 2;
  
//                 .card-btn {
//                   width: 210px;
//                   background-color: #D10024;
//             // display: flex;
//             // justify-content: space-evenly;
//                 font-size: 18px;
//                 -webkit-transition: 0.2s all;
//                 transition: 0.2s all;
    
//                 .card-btn_basket{
//                   display: flex;
//                   align-self: center;
                  
//                 }
//                 .card-btn_text{
//                   display: flex;
//                   align-self: center;
//                   margin-left: 10px;
//                   margin-bottom: 2px;
//                 }
//               }
//             }
//             .card-title {
//               margin: 8px 0;
//               font-size: 15px;
//               padding: 5px;
//               text-align: center;
//             }
            
//             .card-price {
//               color: #666;
//               font-weight: bold;
//               display: flex;
//               justify-self: start;
//             }
//             .card-discount-price{
//               color: #D10024;
//               font-weight: bold;
//             }
            
//             .card-discount-percentage{
//               color: #666;
//               font-weight: bold;
//               position: absolute;
//               top: 7px;
//               left: 7px;
//               // border: 1px solid #D10024;
//               .discount-active{
//                 border: 2px solid #D10024;
//                  padding: 0 10px;
//               }
//             }
//           }
//         }     
//       }
      
//       .all-card{
//         color: #D10024;
//         display: flex;
//         justify-self: self-end;
//       }
      
//   }
 
// }

// @media only screen and (min-width: 576px) and (max-width: 767px) {
//   .discount-card_content{
//     padding: 35px 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // flex-wrap: wrap;
//     .swiper {
//         // overflow-x: scroll;
//         width: 100% !important;
//         height: 100%;
//         .swiper-slide{
//           width: 300px !important;
//           .swiper-slide_card {
          
//             // text-align: center;
//             // font-size: 18px;
            
          
//             /* Center slide text vertically */
//             position: relative;
//             overflow: hidden;
//             width:  300px !important;
//             height: 450px !important;
//             display: flex ;
//             justify-content: center ;
//             align-items: center ;
//             flex-direction: column;
//             margin: 20px;
//             // border: 1px solid #bbb;
//             background-color: #fff;
//             // margin-bottom: 40px;
//             border-radius: 5px 5px 5px 5px;
//             line-height: 20px;
//             cursor: pointer;
  
//             &:hover {
//               box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//                 .card-view {
//                   opacity: 1;
//                   bottom: 0;
//                   pointer-events: all;
//                 }
//               } 
//               img {
//                 width: 180px;
//                 height: 180px;
//                 border-radius: 10px;
//                 // display: block;
//                 // width: 100%;
//                 // height: 100%;
//                 // object-fit: cover;
//               }
//               .card-view{
//                 position: absolute;
//                 // top: 0;
//                 // left: -100%;
//                 // height: 100%;
//                 // width: 100%;
//                 // background-color: rgba(255, 255, 255, .5);
//                 bottom: -100%;
//                 width: 250px;
//                 height: 20%;
//                 // z-index: 1;
//                 border-top: none;
//                 border-radius: 0px 0px 5px 5px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 opacity: 0;
//                 // transition: .15s ease-in-out;
//                 pointer-events: none;
//                 -webkit-transition: 0.1s all;
//                 transition: 0.1s all;
//                 z-index: 2;
  
//                 .card-btn {
//                   width: 210px;
//                   background-color: #D10024;
//             // display: flex;
//             // justify-content: space-evenly;
//                 font-size: 18px;
//                 -webkit-transition: 0.2s all;
//                 transition: 0.2s all;
    
//                 .card-btn_basket{
//                   display: flex;
//                   align-self: center;
                  
//                 }
//                 .card-btn_text{
//                   display: flex;
//                   align-self: center;
//                   margin-left: 10px;
//                   margin-bottom: 2px;
//                 }
//               }
//             }
//             .card-title {
//               margin: 8px 0;
//               font-size: 15px;
//               padding: 5px;
//               text-align: center;
//             }
            
//             .card-price {
//               color: #666;
//               font-weight: bold;
//               display: flex;
//               justify-self: start;
//             }
//             .card-discount-price{
//               color: #D10024;
//               font-weight: bold;
//             }
            
//             .card-discount-percentage{
//               color: #666;
//               font-weight: bold;
//               position: absolute;
//               top: 7px;
//               left: 7px;
//               // border: 1px solid #D10024;
//               .discount-active{
//                 border: 2px solid #D10024;
//                  padding: 0 10px;
//               }
//             }
//           }
//         }     
//       }
      
//       .all-card{
//         color: #D10024;
//         display: flex;
//         justify-self: self-end;
//       }
      
//   }
// }

// @media only screen and (min-width: 768px) and (max-width: 991px) {
//   .discount-card_content{
//     padding: 35px 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // flex-wrap: wrap;
//     .swiper {
//         // overflow-x: scroll;
//         width: 100% !important;
//         height: 100%;
//         .swiper-slide{
//           width: 300px !important;
//           .swiper-slide_card {
          
//             // text-align: center;
//             // font-size: 18px;
            
          
//             /* Center slide text vertically */
//             position: relative;
//             overflow: hidden;
//             width:  400px !important;
//             height: 50px !important;
//             display: flex ;
//             justify-content: center ;
//             align-items: center ;
//             flex-direction: column;
//             margin: 20px;
//             // border: 1px solid #bbb;
//             background-color: #fff;
//             // margin-bottom: 40px;
//             border-radius: 5px 5px 5px 5px;
//             line-height: 20px;
//             cursor: pointer;
  
//             &:hover {
//               box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//                 .card-view {
//                   opacity: 1;
//                   bottom: 0;
//                   pointer-events: all;
//                 }
//               } 
//               img {
//                 width: 180px;
//                 height: 180px;
//                 border-radius: 10px;
//                 // display: block;
//                 // width: 100%;
//                 // height: 100%;
//                 // object-fit: cover;
//               }
//               .card-view{
//                 position: absolute;
//                 // top: 0;
//                 // left: -100%;
//                 // height: 100%;
//                 // width: 100%;
//                 // background-color: rgba(255, 255, 255, .5);
//                 bottom: -100%;
//                 width: 250px;
//                 height: 20%;
//                 // z-index: 1;
//                 border-top: none;
//                 border-radius: 0px 0px 5px 5px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 opacity: 0;
//                 // transition: .15s ease-in-out;
//                 pointer-events: none;
//                 -webkit-transition: 0.1s all;
//                 transition: 0.1s all;
//                 z-index: 2;
  
//                 .card-btn {
//                   width: 210px;
//                   background-color: #D10024;
//             // display: flex;
//             // justify-content: space-evenly;
//                 font-size: 18px;
//                 -webkit-transition: 0.2s all;
//                 transition: 0.2s all;
    
//                 .card-btn_basket{
//                   display: flex;
//                   align-self: center;
                  
//                 }
//                 .card-btn_text{
//                   display: flex;
//                   align-self: center;
//                   margin-left: 10px;
//                   margin-bottom: 2px;
//                 }
//               }
//             }
//             .card-title {
//               margin: 8px 0;
//               font-size: 15px;
//               padding: 5px;
//               text-align: center;
//             }
            
//             .card-price {
//               color: #666;
//               font-weight: bold;
//               display: flex;
//               justify-self: start;
//             }
//             .card-discount-price{
//               color: #D10024;
//               font-weight: bold;
//             }
            
//             .card-discount-percentage{
//               color: #666;
//               font-weight: bold;
//               position: absolute;
//               top: 7px;
//               left: 7px;
//               // border: 1px solid #D10024;
//               .discount-active{
//                 border: 2px solid #D10024;
//                  padding: 0 10px;
//               }
//             }
//           }
//         }     
//       }
      
//       .all-card{
//         color: #D10024;
//         display: flex;
//         justify-self: self-end;
//       }
      
//   }
// }

// @media only screen and (min-width: 992px) and (max-width: 1199px) {
//   .discount-card_content{
//     padding: 35px 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // flex-wrap: wrap;
//     .swiper {
//         // overflow-x: scroll;
//         width: 100% !important;
//         height: 100%;
//         .swiper-slide{
//           width: 400px !important;
//           // margin: 0 40px;
//           .swiper-slide_card {
          
//             // text-align: center;
//             // font-size: 18px;
            
          
//             /* Center slide text vertically */
//             position: relative;
//             overflow: hidden;
//             width:  500px !important;
//             height: 450px !important;
//             display: flex ;
//             justify-content: center ;
//             align-items: center ;
//             flex-direction: column;
//             margin: 20px;
//             // border: 1px solid #bbb;
//             background-color: #fff;
//             // margin-bottom: 40px;
//             border-radius: 5px 5px 5px 5px;
//             line-height: 20px;
//             cursor: pointer;
  
//             &:hover {
//               box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//                 .card-view {
//                   opacity: 1;
//                   bottom: 0;
//                   pointer-events: all;
//                 }
//               } 
//               img {
//                 width: 180px;
//                 height: 180px;
//                 border-radius: 10px;
//                 // display: block;
//                 // width: 100%;
//                 // height: 100%;
//                 // object-fit: cover;
//               }
//               .card-view{
//                 position: absolute;
//                 // top: 0;
//                 // left: -100%;
//                 // height: 100%;
//                 // width: 100%;
//                 // background-color: rgba(255, 255, 255, .5);
//                 bottom: -100%;
//                 width: 250px;
//                 height: 20%;
//                 // z-index: 1;
//                 border-top: none;
//                 border-radius: 0px 0px 5px 5px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 opacity: 0;
//                 // transition: .15s ease-in-out;
//                 pointer-events: none;
//                 -webkit-transition: 0.1s all;
//                 transition: 0.1s all;
//                 z-index: 2;
  
//                 .card-btn {
//                   width: 210px;
//                   background-color: #D10024;
//             // display: flex;
//             // justify-content: space-evenly;
//                 font-size: 18px;
//                 -webkit-transition: 0.2s all;
//                 transition: 0.2s all;
    
//                 .card-btn_basket{
//                   display: flex;
//                   align-self: center;
                  
//                 }
//                 .card-btn_text{
//                   display: flex;
//                   align-self: center;
//                   margin-left: 10px;
//                   margin-bottom: 2px;
//                 }
//               }
//             }
//             .card-title {
//               margin: 8px 0;
//               font-size: 15px;
//               padding: 5px;
//               text-align: center;
//             }
            
//             .card-price {
//               color: #666;
//               font-weight: bold;
//               display: flex;
//               justify-self: start;
//             }
//             .card-discount-price{
//               color: #D10024;
//               font-weight: bold;
//             }
            
//             .card-discount-percentage{
//               color: #666;
//               font-weight: bold;
//               position: absolute;
//               top: 7px;
//               left: 7px;
//               // border: 1px solid #D10024;
//               .discount-active{
//                 border: 2px solid #D10024;
//                  padding: 0 10px;
//               }
//             }
//           }
//         }     
//       }
      
//       .all-card{
//         color: #D10024;
//         display: flex;
//         justify-self: self-end;
//       }
      
//   }
// }

// @media only screen and (min-width: 1200px) and (max-width: 1399px) {
//   .discount-card_content{
//     padding: 35px 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // flex-wrap: wrap;
//     .swiper {
//         // overflow-x: scroll;
//         width: 100% !important;
//         height: 100%;
//         .swiper-slide{
//           width: 300px !important;
//           .swiper-slide_card {
          
//             // text-align: center;
//             // font-size: 18px;
            
          
//             /* Center slide text vertically */
//             position: relative;
//             overflow: hidden;
//             width:  300px !important;
//             height: 450px !important;
//             display: flex ;
//             justify-content: center ;
//             align-items: center ;
//             flex-direction: column;
//             margin: 20px;
//             // border: 1px solid #bbb;
//             background-color: #fff;
//             // margin-bottom: 40px;
//             border-radius: 5px 5px 5px 5px;
//             line-height: 20px;
//             cursor: pointer;
  
//             &:hover {
//               box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//                 .card-view {
//                   opacity: 1;
//                   bottom: 0;
//                   pointer-events: all;
//                 }
//               } 
//               img {
//                 width: 180px;
//                 height: 180px;
//                 border-radius: 10px;
//                 // display: block;
//                 // width: 100%;
//                 // height: 100%;
//                 // object-fit: cover;
//               }
//               .card-view{
//                 position: absolute;
//                 // top: 0;
//                 // left: -100%;
//                 // height: 100%;
//                 // width: 100%;
//                 // background-color: rgba(255, 255, 255, .5);
//                 bottom: -100%;
//                 width: 250px;
//                 height: 20%;
//                 // z-index: 1;
//                 border-top: none;
//                 border-radius: 0px 0px 5px 5px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 opacity: 0;
//                 // transition: .15s ease-in-out;
//                 pointer-events: none;
//                 -webkit-transition: 0.1s all;
//                 transition: 0.1s all;
//                 z-index: 2;
  
//                 .card-btn {
//                   width: 210px;
//                   background-color: #D10024;
//             // display: flex;
//             // justify-content: space-evenly;
//                 font-size: 18px;
//                 -webkit-transition: 0.2s all;
//                 transition: 0.2s all;
    
//                 .card-btn_basket{
//                   display: flex;
//                   align-self: center;
                  
//                 }
//                 .card-btn_text{
//                   display: flex;
//                   align-self: center;
//                   margin-left: 10px;
//                   margin-bottom: 2px;
//                 }
//               }
//             }
//             .card-title {
//               margin: 8px 0;
//               font-size: 15px;
//               padding: 5px;
//               text-align: center;
//             }
            
//             .card-price {
//               color: #666;
//               font-weight: bold;
//               display: flex;
//               justify-self: start;
//             }
//             .card-discount-price{
//               color: #D10024;
//               font-weight: bold;
//             }
            
//             .card-discount-percentage{
//               color: #666;
//               font-weight: bold;
//               position: absolute;
//               top: 7px;
//               left: 7px;
//               // border: 1px solid #D10024;
//               .discount-active{
//                 border: 2px solid #D10024;
//                  padding: 0 10px;
//               }
//             }
//           }
//         }     
//       }
      
//       .all-card{
//         color: #D10024;
//         display: flex;
//         justify-self: self-end;
//       }
      
//   }
// }
