// // .about-container {
// //     max-width: 800px;
// //     margin: 0 auto;
// //     padding: 20px;
  
// //     .about-title {
// //       font-size: 24px;
// //       margin-bottom: 10px;
// //     }
  
// //     ul {
// //       list-style-type: disc;
// //       margin-left: 20px;
  
// //       li {
// //         margin-bottom: 10px;
// //       }
// //     }
  
// //     p {
// //       margin-top: 10px;
// //     }
// //   }

// .about-container {
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 50px;
//     background-color: #f8f8f8;
//     border-radius: 20px;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
//     color: #333;
//     text-align: center;
  
//     .about-title {
//       font-size: 36px;
//       margin-bottom: 20px;
//     }
  
//     .cards-container {
//       display: flex;
//       justify-content: center;
//       flex-wrap: wrap;
//       margin-top: 30px;
  
//       .card {
//         background-color: white;
//         border-radius: 20px;
//         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//         padding: 20px;
//         margin: 20px;
//         width: calc(33.33% - 40px);
//         display: flex;
//         flex-direction: column;
//         align-items: center;
  
//         img {
//           max-width: 100%;
//           border-radius: 10px;
//           margin-bottom: 15px;
//         }
  
//         h3 {
//           font-size: 24px;
//           margin-bottom: 10px;
//         }
  
//         p {
//           font-size: 16px;
//           color: #555;
//           text-align: center;
//         }
//       }
//     }
  
//     p {
//       margin-top: 30px;
//       font-size: 18px;
//       line-height: 1.5;
//     }
//   }
  
// @font-face {
//     font-family: Cocomat;
//     src: url(../Font/Cocomat\ Light.otf);
// }

// *{
//     font-family: Cocomat;
// }

// .container-self{
//     width: 1200px;
//     margin: 0 auto;
// }

// #aboutus .title{
//     padding: 20px 30px;
// }

// #aboutus .title h2{
//     font-size: 45px;
//     font-weight: lighter;
//     line-height: 0.8;
// }

// #aboutus .title h1{
//     font-size: 50px;
//     font-weight: bold;
//     // font-family: 'Open Sans Condensed', sans-serif;
// }

// #aboutus .title p{
//     font-size: 14px;
//     padding: 20px 0;
// }

// #aboutus .card-self{
//     display: flex;
//     justify-content: space-between;
//     padding: 30px 30px 60px 30px;
//     transition: box-shadow 0.5s;
// }

// #aboutus .card-self:hover{
//     box-shadow: 2px 2px 8px #ddd;
// }

// #aboutus .card-self .image{
//     width: 40%;
//     height: 222px;
// }

// #aboutus .card-self .image img{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// #aboutus .card-self .text{
//     width: 50%;
//     display: flex;
//     flex-wrap: wrap;
//     align-content: flex-end;
// }

// #aboutus .card-self .text h4{
//     font-weight: bold;
//     width: 50%;
// }

// #aboutus .card-self .text p{
//     margin-bottom: 0;
//     font-size: 14px;
// }

// @media screen and (max-width:991px){
//     .container-self{
//         width: 100%;
//     }
//     #aboutus .card-self .image{
//         display: none;
//     }
//     #aboutus .card-self .text{
//         width: 100%;
//     }
//     #aboutus .card-self{
//         border-top: 1px solid #ddd;
//     }
//     #aboutus p{
//         font-size: 20px;
//     }
// }

// $font-family_1: Cocomat;
// $font-family_2: 'Open Sans Condensed', sans-serif;

// @font-face {
// 	font-family: Cocomat;
// 	src: url(../Font/Cocomat\ Light.otf);
// }
// * {
// 	font-family: $font-family_1;
// }

#aboutus {
    width: 100%;
    .container-self {
        width: 1200px;
        margin: 0 auto;

        .title {
            padding: 20px 30px;
            h2 {
                font-size: 45px;
                font-weight: lighter;
                line-height: 0.8;
            }
            h1 {
                font-size: 50px;
                font-weight: bold;
                // font-family: $font-family_2;
            }
            p {
                font-size: 14px;
                padding: 20px 0;
            }
        }
        .card-self {
            display: flex;
            justify-content: space-between;
            padding: 30px 30px 60px 30px;
            transition: box-shadow 0.5s;
            &:hover {
                box-shadow: 2px 2px 8px #ccc;
            }
            .image {
                width: 40%;
                height: 222px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                h2 {
                    font-weight: bold;
                    width: 100%;
                    
                }
                p {
                    margin-bottom: 0;
                    font-size: 14px;
                }
            }
        }
        .reverse{
            display: flex;
            flex-direction: row-reverse;
        }
    }
	
}
@media screen and (max-width:991px) {
	.container-self {
		width: 100%;
	}
	#aboutus {
		.card-self {
			.image {
				display: none;
                img{
                    width: 100%;
                     object-fit: cover;
                }
			}
			.text {
				width: 100%;
			}
			border-top: 1px solid #ddd;
		}
		p {
			font-size: 20px;
		}
	}
}
