// .basket{
//     width: 100%;
//     min-height: 50vh;
//     height: auto;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     .basket-product{
//         width: 100%;
//         padding: 50px 20px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         ul{
//             width: 100%;
//             display: flex;
//             flex-wrap: wrap;
//             li{

//                 img {
//                     width: 150px;
//                     height: 150px;
//                     object-fit: contain;
//                 }
//             }
//         }
//     }
// }

.basket{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // .basket-header{
    //     text-align: center;
    //     font-size: 20px;
    //     font-weight: bold;
    // }

    .basket-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 80px;
        height: 100%;
    
    
     $color_1: white;
    $font-family_1: Arial, Helvetica, sans-serif;
    $background-color_1: #f2f2f2;
    $background-color_2: #ddd;
    $background-color_3:  #D10024;
    
    .basket-top {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
        td {
            // border: 1px solid #ddd;
            border: none;
            padding: 20px;
            border-bottom: 1px solid #eaeaea;
            .delete-btn{
                cursor: pointer;
                border: none;
                background-color: #fff;
            }
            .product{
                display: flex;
                align-items: center;
                .data-img{
                display: flex;
                width: 70px;
                height: 70px;
                border-radius: 5px;
                // border-radius: 50%;
            }
            // .data-title{
            //     display: flex;
            //     line-height: 20px;
            // }
            }
            
            .counter-quantity{
                display: flex;
                justify-content: center;

                .counter-quantity_btn{
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    .counter-quantity_btn-text{
                        font-size: 10px;
                        font-weight: 400;
                    }
                }
                .data-quantity{
                    border: 1px solid #666;
                    width: 30px;
                    font-size: 18px;
                    text-align: center;
                }
            }
            .data-price {
                color: #666;
                font-weight: 600;
                display: flex;
                justify-content: center;
                // justify-self: start;
                font-size: 17px;
            
              }
              .data-discount-price{
                color: #D10024;
                font-weight: 600;
                font-size: 17px;
                display: flex;
                justify-content: center;
              }
            .selected-checkbox{
                accent-color: #D10024;
                padding: 5px 5px;
                cursor: pointer;
            }   
        }
        th {
            // border: 1px solid #ddd;
            border: none;
            padding: 20px;
            // padding-top: 12px;
            // padding-bottom: 12px;
            text-align: center;
            background-color: $background-color_3;
            color: $color_1;
        }
        tr {
            background-color: #fff;
            
            // &:nth-child(even) {
            //     background-color: $background-color_1;
            //     .delete-btn{
            //         background-color: $background-color_1;
            //     }
            // }
            // &:hover {
            //     background-color: $background-color_2;
            //     .delete-btn{
            //         background-color: $background-color_2;
            //     }
            // }
        }
    }
    // .clear-btn{
    //     width: 200px;
    //     background-color: #D10024;
    //     border: none;
    //     // display: flex;
    //     // justify-self: start;
    //     // justify-content: space-evenly;
    //     font-size: 18px;
    //     margin: 0 auto;
    //     // color: #666;
    
    // }
    
    }
    .basket-bottom{
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
        margin-top: 20px;
        .basket-bottom_1{
            padding: 20px 0;
            // width: 20%;
            background-color: #fff;
            // display: flex;
            // gap: 10px;
            border-bottom: 1px solid #eaeaea;
            .clear-btn, .selectall-btn{
                // width: 170px;
                padding: 10px 12px;
                // background-color: #D10024;
                background-color: #f3f3f3;
                border: 1px solid transparent;
                // border: none;
                // color: #fff;
                border-radius: 10px;
                font-weight: 500;
                // display: flex;
                // justify-self: start;
                // justify-content: space-evenly;
                font-size: 14px;
                margin: 0 5px;
                // color: #666; 
                cursor: pointer;   
            }
            
        }
        .basket-bottom_2{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #eaeaea;
            .total-quantity{  
                // width: 100%;
                // border: 1px solid;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                span{
                    font-size: 18px;
                    font-weight: 500;
                }
            } 
            .total-price{
              font-size: 20px;
              font-weight: 600;
              span{
                font-size: 18px;
                font-weight: 500;
            }
            }
            
        }
        .basket-bottom_3{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #eaeaea;
            .complete-btn{
                padding: 12px 20px;
                background-color: #D10024;
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                border: 1px solid transparent;
                color: #fff;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    p{
        text-align: center;
    
    }
  .clear-page{
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-btn{
        padding: 15px 20px;
        background-color: #D10024;
    }
  }
  

}
