.like{
    margin-top: 60px !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 80px;
        height: 100%;
    
    
     $color_1: white;
    $font-family_1: Arial, Helvetica, sans-serif;
    $background-color_1: #f2f2f2;
    $background-color_2: #ddd;
    $background-color_3:  #D10024;;
    
    #customers {
        font-family: $font-family_1;
        border-collapse: collapse;
        width: 100%;
        td {
            // border: 1px solid #ddd;
            border: none;
            padding: 20px;
            .delete-btn{
                cursor: pointer;
                border: none;
                background-color: #fff;

            }
            .product{
                display: flex;
                align-items: center;
                .data-img{
                display: flex;
                width: 70px;
                height: 70px;
                border-radius: 5px;
                // border-radius: 50%;
            }
            .data-title{
                display: flex;
            }
            }
        }
        th {
            // border: 1px solid #ddd;
            border: none;
            padding: 20px;
            // padding-top: 12px;
            // padding-bottom: 12px;
            text-align: center;
            background-color: $background-color_3;
            color: $color_1;
        }
        tr {
            
            &:nth-child(even) {
                background-color: $background-color_1;
                .delete-btn{
                    background-color: $background-color_1;
                }
            }
            &:hover {
                background-color: $background-color_2;
                .delete-btn{
                    background-color: $background-color_2;
                }
            }
        }
    }
    .clear-btn{
        width: 200px;
        background-color: #D10024;
        border: none;
        // display: flex;
        // justify-self: start;
        // justify-content: space-evenly;
        font-size: 18px;
        margin: 0 auto;
        // color: #666;
    
    }
    
    }
    p{
        text-align: center;
    
    }
    .clear-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // justify-self: center;
        background-color: #ddd;
        border-radius: 10px;
        margin-top: 15rem;
        width: 500px;
        height: 300px;
        gap: 20px;
    
        .clear-emoji{
            width: 70px;
            height: auto;
        }
    
    
        .clear-text{
            font-weight: 500;
            font-size: 20px;
        }
    
    
        .home-btn{
            padding: 15px 20px;
            background-color: #f3f3f3;
            // color: #fff;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
}