// .login{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     .login-cart{
//         position: relative;
//         display: flex;
//         align-items: center;
//         justify-content: center; 
//         flex-direction: column;
//         border: 1px solid #aaa;
//         border-radius: 5px;
//         box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
//         /* min-width: 44px; */
//         width: 350px;
//         height: 300px;
//         padding: 10px;
//         background-color: #fff;
//         .login-username,.login-email,.login-password{
//         padding: 10px 10px;
//         width: 320px;
//         height: 50px;
//         margin-bottom: 20px;
//         border-radius: 5px;
//         border: 1px solid #aaa;
//         // padding: ;
//         &:focus{
//             outline: none;
//             border-color: #D10024;
//         }
//     }
//     .login-btn{
//         width: 100%;
//         background-color: #D10024;
//     }
//     .signupPageBtn{
//         position: absolute;
//         bottom: 4px;
//         border: none;
//         cursor: pointer;
//     }
//     }


// }

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .login-content{
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid #aaa;
        // box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
        // flex-wrap: wrap;
        
        .login-img{
            width: 500px;
            height: 500px;
            // padding: 10px;
            // border: 1px solid #aaa;
            background-color: #FFC0C0;
            box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);

            img{
                width: 100%;
            }
        }
        .login-cart{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center; 
            flex-direction: column;
            // border: 1px solid #aaa;
            // border-radius: 5px;
            box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
            /* min-width: 44px; */
            // width: 350px;
            // height: 350px;
            width: 500px;
            height: 500px;
            // padding: 10px;
            background-color: #fff;
            // margin: 0 auto;
            .login-cart_header{
                position: absolute;
                top: 20px;
                font-size: 30px;
                font-weight: bold;
                color: #D10024;
                margin: 0 auto;
            }
            .login-cart_content{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .login-cart_top{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .password-content{
                        position: relative;
                        .password-btn{
                        position: absolute;
                        top: 22px;
                        right: 7px;
                        border: none;
                        padding: 10px;
                        cursor: pointer;
                        background-color: inherit;
                        // padding: 2px 10px;
                    }
                    }
                    .login-email,.login-password{
                    padding: 10px 10px;
                    width: 350px;
                    height: 70px;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border: 1px solid #aaa;
                    font-size: 15px;
                    &:focus{
                        outline: none;
                        border-color: #D10024;
                        
                    }
                }
                }
                .login-cart_bottom{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 170px;
                    // justify-content: space-between;
                    .login-btn{
                        // width: 100%;
                        background-color: #D10024;
                    }
                
                    .signupPageBtn{
                        border: none;
                        cursor: pointer;
                        background-color: inherit;
                        font-size: 14px;
                    }
                }
            }
           
          
        
       
        }
    }
    
}

// @media (min-width: 1700px) {
//     .login-img{
//      display: none;
//     }
//     .login-cart_header{
//         position: absolute;
//         top: 20px;
//         font-size: 30px;
//         font-weight: bold;
//         color: blue !important;
//         margin: 0 auto;
//     }
// }

@media (max-width: 992px) {
    .login-img{
     display: none;
    
    }
}
@media (max-width: 768px) {
    .login-img{
     display: none;
    }
  
}
@media (max-width: 576px) {
    .login-img{
     display: none;
    
    }
}