.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 60px;
}
.signup .signup-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup .signup-content .signup-img {
  width: 500px;
  height: 500px;
  background-color: #FFC0C0;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
}
.signup .signup-content .signup-img img {
  width: 100%;
}
.signup .signup-content .signup-cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
  /* min-width: 44px; */
  width: 500px;
  height: 500px;
  background-color: #fff;
}
.signup .signup-content .signup-cart .signup-cart_header {
  position: absolute;
  top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #D10024;
  margin: 0 auto;
}
.signup .signup-content .signup-cart .signup-cart_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup .signup-content .signup-cart .signup-cart_content .signup-cart_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup .signup-content .signup-cart .signup-cart_content .signup-cart_top .password-content {
  position: relative;
}
.signup .signup-content .signup-cart .signup-cart_content .signup-cart_top .password-content .password-btn {
  position: absolute;
  top: 22px;
  right: 7px;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: inherit;
}
.signup .signup-content .signup-cart .signup-cart_content .signup-cart_top .signup-username, .signup .signup-content .signup-cart .signup-cart_content .signup-cart_top .signup-email, .signup .signup-content .signup-cart .signup-cart_content .signup-cart_top .signup-password {
  padding: 10px 10px;
  width: 350px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 15px;
}
.signup .signup-content .signup-cart .signup-cart_content .signup-cart_top .signup-username:focus, .signup .signup-content .signup-cart .signup-cart_content .signup-cart_top .signup-email:focus, .signup .signup-content .signup-cart .signup-cart_content .signup-cart_top .signup-password:focus {
  outline: none;
  border-color: #D10024;
}
.signup .signup-content .signup-cart .signup-cart_content .signup-cart_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 170px;
}
.signup .signup-content .signup-cart .signup-cart_content .signup-cart_bottom .signup-btn {
  background-color: #D10024;
}
.signup .signup-content .signup-cart .signup-cart_content .signup-cart_bottom .loginPageBtn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 14px;
}

@media (max-width: 992px) {
  .signup-img {
    display: none;
  }
}
@media (max-width: 768px) {
  .signup-img {
    display: none;
  }
}
@media (max-width: 576px) {
  .signup-img {
    display: none;
  }
}/*# sourceMappingURL=signup.css.map */