.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .signup-cart{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        border: 1px solid #aaa;
        border-radius: 5px;
        box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
        /* min-width: 44px; */
        width: 350px;
        height: 330px;
        padding: 10px;
        background-color: #fff;
        .password-content{
            position: relative;
           .signup-password{
          
           }
           .password-btn{
            position: absolute;
            top: 17px;
            right: 7px;
            border: none;
            cursor: pointer;
           }
        }
        .signup-username,.signup-email,.signup-password{
        padding: 10px 10px;
        width: 320px;
        height: 50px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #aaa;
        // padding: ;
        &:focus{
            outline: none;
            border-color: #D10024;
        }
    }
    .signup-btn{
        width: 100%;
        background-color: #D10024;
    }

    .loginPageBtn{
        position: absolute;
        bottom: 4px;
        border: none;
        cursor: pointer;
    }
    }
}