// ? grid 
@import "./base/grid.scss";

// ? COMPONENTS
 //  ? library
@import "./components/library/alert.scss";
@import "./components/library/input.scss";
@import "./components/library/label.scss";
@import "./components/library/textarea.scss";
@import "./components/library/button.scss";

  //   ? my proyekt
@import "./components/card.scss";
@import "./components/detail-card.scss";
@import "./components/footer.scss";
@import "./components/navbar.scss";
@import "./components/header.scss";
@import "./components/dropdown.scss";
@import "./components/brands.scss";
@import "./components/new-cards.scss";
@import "./components/discount-card.scss";
@import "./components/carousel.scss";


// ? PAGES
@import "./pages/signup.scss";
@import "./pages/login.scss";
@import "./pages/home.scss";
@import "./pages/about.scss";
@import "./pages/contact.scss";
@import "./pages/basket.scss";
@import "./pages/like.scss";

// ? products pages
@import "./pages/products/allproducts.scss";
@import "./pages/products//accessories.scss";
@import "./pages/products//cameras.scss";
@import "./pages/products//computers.scss";
@import "./pages/products//games.scss";
@import "./pages/products//phones.scss";
@import "./pages/products/products.scss";
@import "./pages/brands/brand-products.scss"


// @import "react-alice-carousel/lib/scss/alice-carousel.scss"; 
// @import "react-alice-carousel/lib/alice-carousel.css"; 